<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" [opened]="true">
        <mat-nav-list>
            <a mat-list-item *ngFor="let nav of menu">{{nav}}</a>
          </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        
      <p><button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button></p>
      <mat-tab-group [backgroundColor]='primary'>
        <mat-tab label="First"> Content 1 </mat-tab>
        <mat-tab label="Second"> Content 2 </mat-tab>
        <mat-tab label="Third"> Content 3 </mat-tab>
      </mat-tab-group>
        
    </mat-sidenav-content>
</mat-sidenav-container>